.acts-show-container {
    padding: 10px;
    margin-left: 12%;
    margin-right: 10%;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 5px;
    text-align: center;
}

.acts-show-container > h1 {
    display: block;
    padding-bottom: 12px;
}

.acts-desc {
    display: flex;
}

.acts-desc > img,
.acts-desc > p {
    margin: 20px;
    max-width: 50%;
    height: auto;
}

.acts-desc > p {
    align-self: center;
}

.return-footer {
    display: block;
}

.return-footer > p {
    font-family: 'Raleway', sans-serif;
}


span {
    align-self: center;
    margin: 15px;
    position: relative;
}

strong {
    font-weight: 600;
}

.discover-link {
    font-family: 'Raleway', sans-serif;
    cursor: pointer;
    text-decoration: underline;
}

.acts-show-container > img {
    margin-top: 50px;
}


.add-act-modal {
    width: 500px;
    height: 450px;
    box-sizing: border-box;
    padding: 50px;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-radius: 5px;
    background-color: white;
    border: 1px solid rgb(160, 160, 160);
}