.group-show-container {
  /* height: calc(100vh - 230px); */
  /* box-sizing: border-box; */
  /* align-items: center; */
  text-align: center;
  justify-content: space-between;
}

.group-show-container h1 {
  text-align: center;
  margin-bottom: 10px;
}

.group-show-header {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-bottom: 10px;
}

.group-show-nav-container {
  width: 100%;
  display: flex;
  justify-content: center;
}

.invite-link-display {
  padding: 10px 0 10px 0;
  box-sizing: border-box;
}

.link-display {
  display: flex;
  width: 100%;
  display: flex;
  margin: 20px 0;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 6px 10px;
  box-shadow: none;
  border: 1px solid #dfdfdf;
  justify-content: left;
}

.group-show-main {
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 25px 300px 0px 300px;
}

.group-show-main > * {
  padding: 0px 15px 15px 15px;
  box-shadow: 2px 2px 2px 2px grey;
}

/* HOVER */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: black;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}

