.group-show-container {
  width: 100%;
  height: calc(100vh - 175px);
  box-sizing: border-box;
  padding: 100px;
  padding-top: 0;
  padding-bottom: 76px;
  display: flex;
  justify-content: space-evenly;
}

.group-show-main {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.group-show-nav-container {
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.group-show-nav-container button {
  height: 35px;
  cursor: pointer;
  outline: none;
  border-radius: 2.5px;
  border: 1px solid rgb(160, 160, 160);
}

.group-show-nav-container button:hover {
  background-color: rgb(207, 207, 207);
  border: 1px solid rgb(114, 114, 114);
}

.invite-link-display {
  padding: 10px 0 5px 0;
  box-sizing: border-box;
}

.link-display {
  display: flex;
  width: 100%;
  display: flex;
  margin: 20px 0;
  align-items: center;
  border-radius: 5px;
  box-sizing: border-box;
  padding: 6px 10px;
  box-shadow: none;
  border: 1px solid #dfdfdf;
  justify-content: left;
}

/* HOVER */

.hvr-underline-from-left {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: perspective(1px) translateZ(0);
  transform: perspective(1px) translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  position: relative;
  overflow: hidden;
}
.hvr-underline-from-left:before {
  content: "";
  position: absolute;
  z-index: -1;
  left: 0;
  right: 100%;
  bottom: 0;
  background: black;
  height: 1px;
  -webkit-transition-property: right;
  transition-property: right;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-timing-function: ease-out;
  transition-timing-function: ease-out;
}
.hvr-underline-from-left:hover:before, .hvr-underline-from-left:focus:before, .hvr-underline-from-left:active:before {
  right: 0;
}