/* .not-logged-in-container {
  display: flex;
  flex-direction: column;
  margin-top: 200px;
} */

.main-join-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  box-sizing: border-box;
  width: 100vw;
  height: 150px;
  padding: 0 200px;
}

.join-sub-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  height: 100px;
  text-align: center;
}

.buttons {
  width: 500px;
  display: flex;
  justify-content: space-between;
}

.buttons button {
  height: 35px;
  cursor: pointer;
  outline: none;
  border: none;
  border-radius: 2.5px;
  border: 1px solid rgb(160, 160, 160);
}

.buttons button:hover {
  background-color: rgb(207, 207, 207);
  border: 1px solid rgb(114, 114, 114);
}