  #map {
    height: 500px;
    width: 500px;
  }

  html, body {
    height: 100%;
    margin: 0;
    padding: 0;
  }

.map-display-container {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}